# validation-report

See this command in the [**command table**.](<COMMAND%20TABLE_V.md#validation-report>)

To access this command:

  * Using the **[command line](<../COMMON/Command_Toolbar.md>)** , enter "validation-report".

  * Display the **[Find Command](<../COMMON/findcommand.md>)** screen, locate **validation-report** and click **Run**.

## Command Overview

Create a validation report from the loaded dynamic drillholes.